body{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    }
    
    
    #player{
        z-index: 20;
        background: url('../assets/space-craft/Space-craft.png');
        position: fixed;
        background-size: contain;
        background-position: center;
        width: 130px;
        color: red;
        height: 130px;
        left:calc(50% - 70px);
        bottom: 20px;
    }
    #environment{
        height :8000px;
            background: url('../assets/Background/b7.png');
        background-position: center;
        background-repeat-x: no-repeat; 
            background-size: contain;
        
    }