/*App css*/
.holder {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, #fff, #aaa, #777, #555, #333, #111);
  background-size: 500vw 500vh;
  transition-duration: 1s;
}
.home {
  background-position: 100% 25%;
}
.events {
  background-position: 75% 50%;
}
.contact {
  background-position: 50% 75%;
}
.about {
  background-position: 25% 100%;
}
.style4 {
  background-position: 0% 100%;
}
.shine0 {
  animation: shine0 2s linear forwards;
}


/* General CSS code */
::-webkit-scrollbar {
  width: 0px;
}
* {
  font-family: "Courier New", Courier, monospace;
}
.content hr {
  width: 20%;
  border-top: 2px solid #fff;
}
.content h1 {
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 1.5rem 0rem 1.5rem;
}

.content h4,
.content p {
  text-shadow: 0 0 30px #fff;
}
.content h4 {
  padding: 1rem 2rem;
  color: rgb(230, 230, 230);
}
.content p {
  color: rgb(210, 210, 210);
  font-size: 1rem;
  padding: 1rem 1rem 1rem 1rem;
}
@media only screen and (max-width: 600px) {
  body,
  html {
    font-size: 14px;
  }
  .content hr {
    width: 50%;
  }
}


